@import "header.css";
@import "nav.css";
@import "spider.css";
@import "beanvine.css";
@import "welcome.css";

body {
    color: #600;
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    background: -webkit-linear-gradient(top,#f5f5f5,#f5f5f5 50%,#ccffcc 90%,#336633 );
}

body nav .links {
    color: #28a745;
}

.line {
    border-bottom: 1px solid orangered;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    
}

.quotes ul {
    list-style-type: none;
}





