nav .links {
    display: inline-block;
    width: 100%;
    text-align: center;
}

nav .links li {
    border: 1px solid;
    display: inline-block;
    padding: 10px 12px;
    border-radius: 4px;


} 

.links a {
    color: #28a745;
    font-family: sans-serif;
    text-decoration: none;
}

nav {
    margin: 5px auto;
}

nav .links li {
    
}