.spider-box .image {
    width: 400px;
    height: 292px;
    margin: 0 auto;
    border-style: double;
    border-color: #996633;
    border-radius: 8px;
    border-width: medium;
    padding: 8px;
}

.spider-box .spider-button {
    background-image: "https://jacksmagicbeans.org/cake/spider.jpg";
}